$black      : #111;
$white      : #eee;
$dark-grey  : #424242;

body {
  margin: 0;
  padding: 0;
  background-color: rgba($dark-grey, 0.2);
  width: 100%;
}
.heatmap-chart {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}
.chart {
  background-color: $white;
}
//.chart rect {
//  fill: steelblue;
//}
//
//.chart text {
//  fill: white;
//  font: 20px sans-serif;
//  text-anchor: end;
//}
//.chart text.name {
//   fill: black;
//   font: 10px sans-serif;
//   text-anchor: start;
// }
//text.name:hover {
//  cursor: default;
//  fill: white;
//}
div.tooltip {
  position: absolute;
  text-align: center;
  //width: 200px;
  //height: 4em;
  padding: 10px;
  font: 14px sans-serif;
  background: lightsteelblue;
  border: 0;
  border-radius: 8px;
  pointer-events: none;
}
